* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: none;
  max-width: 100%;
  outline: 0;
  font-weight: normal;
  font-size: 100%;
}

input {
  font: inherit;
}

input::-webkit-input-placeholder {
  font-family: inherit;
}

input:-ms-input-placeholder {
  font-family: inherit;
}

input::-ms-input-placeholder {
  font-family: inherit;
}

input::placeholder {
  font-family: inherit;
}

button,
input[type='submit'] {
  cursor: pointer;
  font-family: inherit;
}

li {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.95rem;
}

.dropdown__caret {
  border: 4px solid transparent;
  border-top: 4px solid inherit;
  margin-left: 0.15rem;
  margin-top: 0.4rem;
}

.header {
  background: #24292f;
  padding: 0.8rem 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
}

.header__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo--icon {
  height: 32px;
  width: 32px;
}

.header__logo--icon path {
  fill: #fff;
}

.header .search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: auto;
  border: 1px solid #444d56;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.header .search-form__input {
  padding: 5px 10px;
  width: 100%;
  color: #c8c9cb;
}

.header .search-form__input::-webkit-input-placeholder {
  color: currentColor;
}

.header .search-form__input:-ms-input-placeholder {
  color: currentColor;
}

.header .search-form__input::-ms-input-placeholder {
  color: currentColor;
}

.header .search-form__input::placeholder {
  color: currentColor;
}

.header .search-form__icon {
  pointer-events: none;
  position: absolute;
  right: -0.3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 55%;
}

.header .main-nav li {
  display: inline-block;
  margin-right: 1rem;
}

.header .main-nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 550;
}

.header .main-nav li a:focus, .header .main-nav li a:hover {
  color: #aabfc1;
}

.header .user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 2rem;
}

.header .user-menu__btn {
  cursor: pointer;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .user-menu__btn svg {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.header .user-menu__dropdown-caret {
  border-top: 4px solid #fff;
}

.header .user-menu__avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.wrapper {
  border-bottom: 1px solid #d8d8d8;
  overflow: auto;
}

.sticky {
  width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 2.4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.empty-column {
  width: 23%;
}

.content {
  margin: auto;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  width: 23%;
}

.profile {
  margin-top: -2.5rem;
}

.profile__avatar {
  width: 95%;
  margin: auto;
  margin-bottom: 1.2rem;
}

.profile__avatar--img {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.profile__name {
  margin-bottom: 1rem;
}

.profile__name--name {
  font-weight: 550;
  font-size: 1.5rem;
}

.profile__name--username {
  font-size: 1.2rem;
  font-weight: lighter;
}

.profile__bio {
  font-size: 1rem;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

.tabs svg {
  margin-right: 1rem;
  margin-bottom: -3px;
}

.tabs svg path {
  stroke: #aabfc1;
}

.tabs__item {
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.4s ease-out border;
  transition: 0.4s ease-out border;
}

.tabs__item:hover {
  border-bottom-color: #aabfc1;
}

.tabs__item--active {
  border-bottom-color: #f9826c;
  font-weight: 550;
}

.tabs__item--active svg path {
  stroke-width: 0;
  stroke: #24292f;
}

.tabs li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #24292f;
}

.overview {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.5rem;
}

.repo {
  padding: 1rem 0;
  line-height: 2;
}

.repo:not(:last-child) {
  border-bottom: 1px solid #d1d2d4;
}

.repo__search {
  margin: 1.3rem 0;
  width: 100%;
  border-bottom: solid 1px #d1d2d4;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repo__search--input {
  padding: 5px 12px;
  border: solid 1px #d1d2d4;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.repo__search--input:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
          box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.repo__search--btn {
  background: #fafbfc;
  margin-left: 0.5rem;
  border-radius: 6px;
  padding: 5px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d9dbdb;
}

.repo__search--dropdown-caret {
  border-top-color: #24292f;
  margin-top: 8px;
  margin-left: 0.5rem;
}

.repo__name {
  font-size: 1.2rem;
}

.repo__name a {
  font-weight: 600;
  text-decoration: none;
  color: #0366d6;
}

.repo__name a:hover {
  text-decoration: underline;
}

.repo__desc {
  font-size: 1rem;
}

.repo__info {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repo li {
  margin-right: 1.4rem;
  font-size: 14px;
}

.repo li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.repo li a:hover {
  color: #0366d6;
}

.repo li a:hover svg path {
  fill: #0366d6;
}

.repo__tag {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.repo__tag--ts {
  background: #2b7489;
}

.repo__tag--js {
  background: #f1e05a;
}

.repo__icon {
  margin-top: 6px;
}

.repo__icon svg path {
  stroke-width: 0;
}

.repo__tag, .repo__icon {
  margin-right: 0.4rem;
}
/*# sourceMappingURL=style.css.map */