@import 'variables';
@import 'reset';

body {
  font: $font-size-normal $font-stack;
}

.hamburger {
  display: none;
  svg {
    path {
      fill: $grey-100;
    }
  }
}

@import 'components/header';
@import './components/utils';
@import 'components/aside';
@import 'components/tabs';
@import 'components/overview';
@import 'components/mobile-menu';
@import 'components/responsive';
