.aside {
  width: $side-column-width;
}

.profile {
  margin-top: -2.5rem;
  &__avatar {
    width: 90%;
    margin: auto;
    margin-bottom: 1.2rem;
    &--img {
      border-radius: 50%;
      display: block;
      margin: auto;
    }
  }

  &__name {
    margin-bottom: 1rem;
    &--name {
      font: {
        weight: 550;
        size: 1.5rem;
      }
    }
    &--username {
      font: {
        size: 1.2rem;
        weight: lighter;
      }
    }
  }
}
