.overview {
  flex: 1;
  margin-left: 1.5rem;
}

.repo {
  padding: 1.2rem 0;
  line-height: 2;

  &:not(:last-child) {
    border-bottom: 1px solid #e1e4e8;
  }

  &__search {
    margin: 1.3rem 0;
    width: 100%;
    border-bottom: solid 1px #e1e4e8;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    &--input {
      padding: 5px 12px;
      border: solid 1px #d1d2d4;
      border-radius: 6px;
      align-items: center;
      width: 100%;
      &:focus {
        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
      }
    }

    &--btn {
      background: #fafbfc;
      margin-left: 0.5rem;
      border-radius: 6px;
      padding: 5px 16px;
      display: flex;
      border: 1px solid #d9dbdb;
    }

    &--dropdown-caret {
      border-top-color: $dark;
      margin-top: 8px;
      margin-left: 0.5rem;
    }
  }

  &__name {
    font-size: 1.2rem;
    a {
      font-weight: 600;
      text-decoration: none;
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__desc {
    font-size: 1rem;
  }

  &__info {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
  }

  li {
    font-size: 0.75rem;
    margin-right: 1.4rem;
    color: #586069;
  }

  li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover {
      color: $blue;

      svg {
        path {
          fill: $blue;
        }
      }
    }
  }

  &__tag {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    &--ts {
      background: map-get($repo-tags, ts);
    }
    &--js {
      background: map-get($repo-tags, js);
    }
  }

  &__icon {
    margin-top: 7px;
    svg {
      width: 16px;
      path {
        fill: #586069;
        stroke-width: 0;
      }
    }
  }

  &__tag,
  &__icon {
    margin-right: 0.4rem;
  }
}
