.overview {
  flex: 1;
}

.repo {
  padding: 1.2rem 0;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  > *:first-child {
    flex: 1;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $grey-100;
  }

  &__list {
    margin-bottom: 2rem;
  }

  &__search {
    margin-top: 1.3rem;
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-100;

    &--input {
      padding: 5px 12px;
      border: solid 1px $grey-100;
      border-radius: 6px;
      align-items: center;
      width: 100%;
      &:focus {
        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
      }
    }

    &--dropdown-caret {
      border-top-color: $dark;
      margin-top: 8px;
      margin-left: 0.5rem;
    }
  }

  &__name {
    font-size: 1.2rem;
    a {
      font-weight: 600;
      text-decoration: none;
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__desc {
    div {
      font-size: 0.9rem;
      color: $dark;
      line-height: 1.8;
      width: 60%;
    }
  }

  &__info {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
  }

  li {
    font-size: 0.75rem;
    margin-right: 1.4rem;
    color: $grey-600;
  }

  li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover {
      color: $blue;

      svg {
        path {
          fill: $blue;
        }
      }
    }
  }

  &__tag {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
  }

  &__icon {
    margin-top: 7px;
    svg {
      width: 16px;
      path {
        fill: $grey-600;
        stroke-width: 0;
      }
    }
  }

  &__tag,
  &__icon {
    margin-right: 0.4rem;
  }
}
